In [1]:
import pandas as pd
import numpy as np

In [2]:
path_csv = 'G:/Github/Renewabe_energy_US/data/Cities_Data_2017-2019_mb2.csv'
path_xsl = 'G:/Github/Renewabe_energy_US/data/Cities_Data_2017-2019_mb2.xlsx'

data = pd.read_excel(path_xsl)

In [3]:
column_name = {'Project Year':'year','Account Name':'city_full', 'Question Number':'Qn','Row Number':'row_num','Row Name':'row_name',
              'Column Number':'col_num','Column Name':'col_name','Response Answer':'response'}

In [4]:
data.rename(columns=column_name,inplace=True)

In [5]:
def get_data_table_supply(qn_num,year,data):
    mask_qn = (data.year == year) & (data.Qn == qn_num) & (data.col_num ==1)
    df = pd.DataFrame(data[mask_qn])
    results = {}
    
    for col_name in df.row_name.unique():
        mask_current = df.row_name == col_name
        col_values = df[mask_current].sort_values(by=['city_full','row_num'],ascending=True).response.values
        results.update({col_name:col_values})
    
    cities = df[mask_current].sort_values(by=['city_full','row_num'],ascending=True).city_full.values
    results.update({'city_full':cities})
    return pd.DataFrame.from_dict(results)

In [6]:
supply_2019 = get_data_table_supply(8.5,2019,data)

In [39]:
supply_2019

,Wind,Ground or water source,Solar thermal,Solar PV,Renewable district heat/cooling,Other: (please specify),city_full
0,NaN,NaN,NaN,NaN,NaN,NaN,Abington Township
1,0,0,0,2,0,0,"Arlington, VA"
2,191560,0,0,734441,NaN,436161,City and County of Honolulu
3,NaN,1.42,NaN,1.9,NaN,NaN,City of Ann Arbor
4,NaN,NaN,NaN,NaN,NaN,NaN,City of Asheville
...,...,...,...,...,...,...,...
100,NaN,NaN,NaN,3,NaN,NaN,"Town of Princeton, NJ"
101,NaN,NaN,NaN,1.5,NaN,NaN,"Town of Secaucus, NJ"
102,0,0,0,20,0,NaN,"Town of Vail, CO"
103,NaN,NaN,NaN,NaN,NaN,NaN,"Town of Whitby, ON"
104,NaN,NaN,NaN,NaN,NaN,4.8,Ville de Montreal

In [40]:
sf_only = supply_2019.city_full == 'City of San Francisco'

In [41]:
supply_2019[sf_only]

,Wind,Ground or water source,Solar thermal,Solar PV,Renewable district heat/cooling,Other: (please specify),city_full
69,0.25,0,0,37,0,0,City of San Francisco

In [42]:
supply_2018 = get_data_table_supply(9.1,2018,data)

In [46]:
supply_2018[supply_2018.city_full == 'City of San Francisco']

,Solar PV,Renewable district heat/cooling,Wind,Ground or water source,Solar thermal,Other,city_full
112,37,0,0.25,0,0,0,City of San Francisco

In [47]:
supply_2018[supply_2018.city_full == 'City of Los Angeles']

Empty DataFrame
Columns: [Solar PV, Renewable district heat/cooling, Wind, Ground or water source, Solar thermal, Other, city_full]
Index: []

In [48]:
supply_2019[supply_2019.city_full == 'City of Los Angeles']

,Wind,Ground or water source,Solar thermal,Solar PV,Renewable district heat/cooling,Other: (please specify),city_full
45,0,14.2,NaN,376.6,295,3,City of Los Angeles

### great, supply data from this data set don't help much

#### let's try to get energy mix

In [9]:
def get_data_table_supply_mix(qn_num,year,data):
    mask_qn = (data.year == year) & (data.Qn == qn_num)
    df = pd.DataFrame(data[mask_qn])
    results = {}
    
    for col_name in df.col_name.unique():
        mask_current = df.col_name == col_name
        col_values = df[mask_current].sort_values(by=['city_full','row_num'],ascending=True).response.values
        results.update({col_name:col_values})
    
    cities = df[mask_current].sort_values(by=['city_full','row_num'],ascending=True).city_full.values
    results.update({'city_full':cities})
    return pd.DataFrame.from_dict(results)

In [10]:
energy_mix_2017 = get_data_table_supply_mix(8,2017,data)

In [13]:
out_path = 'G:/Github/Renewabe_energy_US/output/energy_mix_sf.csv'
energy_mix_2017[energy_mix_2017.city_full == 'City of San Francisco'].to_csv(out_path,index=False)